html,
body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-container{
    display: flex;
    flex-direction: column;
}

input:invalid{
    border: 1px solid red;
}